* {
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: #FFFDF3;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 150px;
}

.title {
    font-size: 4vh;
    margin: 0;
}

#infoButton {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 0;
}